body {
  margin: 0;
  padding: 0;
  background: #000;
}

p {
  font-size: 4px;
  /* line-height: 8px; */
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: url(image.jpeg) no-repeat center/cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(225, 225, 255, 0);
}
